extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover.text-center
          h1 You aren't authorized to view this page.
          p.
            Your login was successful, so we know who you are (hi!) but you lack sufficient privileges to use the requested page. If you believe you received this message in error, 
            take it up with one of the admins.
          p
            a(href="/")
              button.btn.btn-info.btn-lg.normal Go Back
