extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover.text-center
          img(src="/images/color_sampler.png")
          h2#message.normal This page is really boring. Take or select a picture to extract its color and then add it to the painting.
          p#add-cell.normal(style="display:none")
            button#add.btn.btn-warning.btn-lg.normal Add it to the wall!
          label#file.btn.btn-lg.btn-file.btn-info.normal
            span Get a color
            input.btn.btn-default#camera(type='file' accept='image/*' capture='camera' style="display:none")
          .caman
            img#img1(data-caman-hidpi-disabled='true' style="display: none")
            img#img2(data-caman-hidpi-disabled='true' style="display: none")
            img#img3(data-caman-hidpi-disabled='true' style="display: none")
            img#img4(data-caman-hidpi-disabled='true' style="display: none")
            img#img5(data-caman-hidpi-disabled='true' style="display: none")
          h2.limit(style="display:none") Because of some hacky stuff we had to do to make this work, the page requires a reset before you can sample another picture. Sorry :(
          p.limit(style="display:none")
            button#reload.btn.btn-danger.btn-lg Reset            


  include js.jade
  script(src="http://cdnjs.cloudflare.com/ajax/libs/camanjs/4.0.0/caman.full.min.js")
  script(src="/socket.io/socket.io.js")

  script.

    var socket = io();


    $(document).ready( function ()  {

      
      function avgLevel( level ) {
        var total = 0
        for(var i = 0; i <= 255; i++) {
          total += level[i] * i;
        }
        return total;
      }
      
      var color = {};

      $("#camera").change(function(evt) {
          $('#file').removeClass('btn-info').addClass('btn-danger');
          $('#file span').html('Processing ...');
          var image = evt.target.files[0];

          $("img:first-of-type").attr("src", URL.createObjectURL(image));
            Caman("img:first-of-type", function () {
                var levels = this.analyze.calculateLevels();
                var r = parseInt(avgLevel(levels.r));
                var g = parseInt(avgLevel(levels.g));
                var b = parseInt(avgLevel(levels.b));
                
                color = {source : 'camera',
                   r: r, g: g, b: b,
                  
                  x : Math.floor(Math.random() * (2000)),
                  y : Math.floor(Math.random() * (1000))
                };
                
                $('body').css("background-color", "rgb(" + parseInt(r) + "," + parseInt(g) + "," + parseInt(b) + ")" );
                //$("#myimage").removeAttr("src");
                //$("#myimage").removeAttr("data-caman-id");
                $('#camera').val("");
                if($("img:first-of-type").length) { 
                  $("canvas:first-of-type").remove();
                } else {
                  $('.normal').hide();
                  $('.limit').show();
                }
                
                $('#message').html("Great! If you like your color, add it to the wall. If not choose or take a new picture.")
                $('#add-cell').show();
                $('#file').removeClass('btn-danger').addClass('btn-info');
                $('#file span').html('Get a better color!');
              }); 
              //$(".caman").append('<img id="myimage" data-caman-hidpi-disabled="true" style="display: none">');
      });
  
      $('#add').click( function () {
        socket.emit('new color', color);
      });
      
      $('#reload').click( function () {
          location.reload();
      });
      
      socket.on('add success', function(id) {
        window.location.href = "/colorwall1?id=" + id;      
        });
      
      socket.on('message', function(message) {
        console.log(message);
      });
      
    });
