extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover.text-center
          h1 Login via Facebook
          h2 Who needs passwords? If Facebook says you are who you say you are, that's good enough for us.
          p
            a(href="/auth/facebook")
              button.btn.btn-info.btn-lg.normal Login


  include js.jade

  script.

  
