extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover.text-center
          h1= heading
          h2= message
          p
            a(href="/auth/facebook")
              button.btn.btn-info.btn-lg.normal Login
