nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      .button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand
        a(href="#")
          img#nav-logo(src="/images/hero_logo.png")
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li 
          a(href=(route === 'index')? "#about" : "./#about") About
        li 
          a(href=(route === 'index')? "#how-target" : "./#how-target") How?
        li
          a(href=(route === 'index')? "#color-wall-target": "./#color-wall-target") Color Wall
        li
          a(href=(route === 'index')? "#team-target": "./#team-target") Team
        li
          a(href="http://blog.projectmo.net") Blog
        li
          a(href=(route === 'index')? "#social-target": "./#social-target") Social
