
body {
    /*Nothing fancy here yet*/
}

.thumbnails {
    width:75px;
    height:100px;
    margin:5px;
    border: solid;
    border-color: black;
    float:left;
   
}
.thumbalign{
    width:25vw;
    float:left;
    margin-top:10vw;
    margin-left: 5vw;
  
}
.thumbrow{
    width: inherit;
    margin-right:10vw;
}

#button1{
float:left;
margin-right:9vw;
padding-top:3vw;
}
#button2{
float:right;
margin-left:10vw;
padding-top:3vw;
}

#ColorPreview{
    width:50px;
    height: 50px;
    background-color:blue;
}

#Frame{
    /*This border is temporary, until we get page set up and camera image centered on it properly*/
    border:solid;
    border-color: black;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vw;
    float:right;
}
#Painting{
    width:inherit;
    height:inherit;
}

#banner{
    color:darkblue;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
   
}

#intro{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
